@import "./your_profile.css";
@import "./my_profile.css";

* {
  line-height: 1.2;
}

/* Screen Reader Only */
.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

/* Reset CSS */
button {
  margin: 0;
  padding: 0;
  background-color: inherit;
  border: none;
}

/* Product_modification */
.wrap-product-modi {
  width: 390px;
  height: 844px;
  background-color: var(--bg-color-6);
  padding: 54px 34px 499px;
}
.product-header-cont {
  width: 340px;
  position: relative;
  margin-bottom: 30px;
}
.product-head-btn-cont {
  float: right;
  height: inherit;
  margin-top: 15px;
}

.follow-head-container {
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--bg-color-7);
}
.prod-modi-cont {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
}
.prod-modi-cont .prod-pic-wrap {
  position: relative;
  border: 1px solid transparent;
  margin-bottom: 30px;
  /* 이 속성이 없으면 버튼이 날라다닙니다 */
}
.product-title {
  font-size: 12px;
  font-weight: 400;
}
.prod-modi-cont img {
  width: 322px;
  height: 204px;
  border-radius: 10px;
}
.prod-modi-cont .product-change-inp {
  display: none;
}
.prod-modi-cont .product-change-btn {
  width: 36px;
  height: 36px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-image: url("../assets/img-btn.svg");
  cursor: pointer;
}

.ms-button {
  position: absolute;
  right: 16px;
}
.ms-button.disabled {
  display: none;
}

.prod-info-inpt label {
  width: 322px;
  height: 48px;
}
.prod-info-inpt input {
  margin-bottom: 16px;
  border: none;
  width: 322px;
  border-bottom: 1px solid var(--bg-color-7);
}

/* 수정 필요 어떤 속성인지 ..
input:blank {
    border: 1px solid gray;
} */

.prod-info-inpt input::placeholder {
  color: var(--bg-color-7);
  font-size: 14px;
}

.prod-info-inpt h3 {
  font-size: 12px;
  margin-top: 16px;
  margin-bottom: 10px;
}
/* //Product_modification */

/* Profile_modification */
.wrap-profile-modi {
  width: 390px;
  height: 844px;
  background-color: var(--bg-color-6);
  padding: 54px 34px 499px;
}
.profile-header-cont {
  width: 340px;
  position: relative;
  margin-bottom: 30px;
}

.prof-modi-cont {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
}
.prof-modi-cont .prof-pic-wrap {
  position: relative;
  width: 110px;
  height: 110px;
  border: 1px solid transparent;
  margin-bottom: 30px;
  /* 이 속성이 없으면 버튼이 날라다닙니다 */
}
.prof-modi-cont img {
  width: 110px;
  height: 110px;
  border-radius: 110px;
}
.prof-modi-cont .profile-change-inp {
  display: none;
}
.prof-modi-cont .profile-change-btn {
  width: 36px;
  height: 36px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-image: url("../assets/img-btn.svg");
  cursor: pointer;
}
.profile-head-btn-cont {
  float: right;
  height: inherit;
  margin-top: 15px;
}

.profile-head-btn-cont .ms-button {
  position: absolute;
  right: 16px;
}
.profile-head-btn-cont .ms-button.disabled {
  display: none;
}

.prof-info-inpt label {
  width: 322px;
  height: 48px;
}
.prof-info-inpt input {
  margin-bottom: 16px;
  border: none;
  width: 322px;
  border-bottom: 1px solid var(--bg-color-7);
}

.prof-info-inpt input::placeholder {
  color: var(--bg-color-7);
  font-size: 14px;
}

.prof-info-inpt h3 {
  font-size: 12px;
  margin-top: 16px;
  margin-bottom: 10px;
}
/* //Profile_modification */

/* yourprofile_2 */
.profile-main-cont .user-search-container {
  margin-bottom: 16px;
  position: relative;
}

.profile-main-cont .user-search-container .s-button {
  position: absolute;
  right: 0;
}
.profile-main-cont .user-search-container .s-button.click {
  display: none;
}
.profile-main-cont .user-search-container .cancle {
  display: none;
}
.profile-main-cont .user-search-container .cancle.click {
  display: block;
}

.profile-main-cont .cancle {
  border: 1px solid var(--bg-color-3);
  width: 55px;
  height: 28px;
}

.tab-menu-item.icon-user.active {
  color: var(--bg-color-3);
}
.wrap-profile-modi {
  width: 390px;
  height: 844px;
  background-color: var(--bg-color-6);
  padding: 54px 34px 499px;
  position: relative;
}
.profile-header-cont {
  width: 340px;
  position: relative;
  margin-bottom: 30px;
}
.profile-main-cont {
  margin-top: 24px;
}
.profile-foot-cont {
  position: fixed;
  width: 390px;
  height: 60px;
  bottom: 0;
  left: 50%;
  margin-left: -195px;
  background-color: var(--bg-color-9);
}

/* // yourprofile */

/*splash screen*/

.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f2c94c;
}

.landing {
  width: 390px;
  height: 844px;
  background-color: var(--bg-color-1);
  padding: 270px 95px 374px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: var(--bg-color-4);
  font-size: 30px;
  font-weight: 700;
  font-family: "Sunflower", sans-serif;
}

.landing .logo {
  display: block;
  width: 200px;
  height: 200px;
}

/* login.html */

.landing.login {
  background-color: var(--bg-color-4);
  padding: 204px 0 0;
  font-family: "Nanum Gothic Coding", monospace;
  font-size: 400;
}

.login-sec {
  color: var(--bg-color-8);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  padding: 50px 34px 0 34px;
  background-color: var(--bg-color-6);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
  height: 100%;
  margin-top: 117px;
}

.login-sns-item {
  display: block;
  position: relative;
  background-color: var(--bg-color-6);
  border: 1px solid #f2c94c;
  padding: 13px 0;
  border-radius: 44px;
  white-space: nowrap;
}

.login-sec li:first-child ~ li {
  margin-top: 10px;
}

.login-sec li:last-child {
  margin-bottom: 20px;
}

.login-sns-item::before {
  display: block;
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  background: url("../assets/login-kakao.svg");
  top: 10px;
  left: 14px;
}

.login-sns-item.login-google {
  border: 1px solid var(--bg-color-8);
}

.login-sns-item.login-google::before {
  background: url("../assets/login-google.svg");
}

.login-sns-item.login-facebook {
  border: 1px solid #2d9cdb;
}

.login-sns-item.login-facebook::before {
  background: url("../assets/login-facebook.svg");
}

.link-email,
.link-join {
  display: inline-block;
  font-size: 12px;
  line-height: 15px;
}

.link-email::after {
  display: inline-block;
  content: "\007C";
  margin-left: 8px;
}

/* login_email */
/* login_join_membership */

.input-sec {
  width: 390px;
  height: 844px;
  background-color: var(--bg-color-6);
  padding: 54px 34px 499px;
}

.input-tit {
  margin-bottom: 40px;
  text-align: center;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.inp-label {
  font-size: 12px;
  line-height: 15px;
  font-weight: 500;
  color: var(--bg-color-8);
}

.inp-value {
  display: block;
  width: 100%;
  height: 32px;
  border: 1px solid var(--bg-color-7);
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 0;
  border-bottom-width: 1;
  font-size: 14px;
}

.inp-value:focus {
  outline: none;
  border-color: var(--bg-color-3);
}

.module-inp ~ .module-inp {
  margin-top: 16px;
}

.module-inp .inp-error {
  margin-top: 6px;
  display: none;
  color: #eb5757;
  font-size: 12px;
  line-height: 14px;
}

.module-inp.error .inp-error {
  display: block;
}

.input-sec .l-button {
  margin-top: 30px;
  white-space: nowrap;
  padding: 0px 107px;
}

.link-join-email {
  display: block;
  text-align: center;
  font-size: 12px;
  line-height: 15px;
  color: var(--bg-color-8);
  margin-top: 20px;
}

/*join_membership_2*/

.join_profile .input-tit {
  margin-bottom: 12px;
}

.join_profile .input-desc {
  font-size: 14px;
  line-height: 14px;
  color: var(--bg-color-8);
  text-align: center;
  margin-bottom: 30px;
}

.select-img {
  position: relative;
  display: inline-block;
  margin: 0 calc(50% - 55px) 33px;
}

.join_profile .user-img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background-color: var(--bg-color-7);
}

.btn-img {
  background: url(../assets/btn-img.svg) no-repeat;
  background-size: cover;
  width: 36px;
  height: 36px;
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
}

/* home */
.appMyHome {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2c94c;
}
.cont-home {
  width: 390px;
  background-color: #fff;
  color: var(--bg-color-8);
}
.cont-home .cont-home-header {
  height: 48px;
  border-bottom: 1px solid var(--bg-color-8);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  font-family: "GowunDodum-Regular";
}
.cont-home .cont-home-main {
  height: 712px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
.cont-home-main .cont-home-main-img {
  width: 100px;
  height: 100px;
}
.cont-home-main .btn-search {
  height: 34px;
  padding: 0 40px;
  border-radius: 30px;
  background-color: var(--bg-color-3);
  color: var(--bg-color-6);
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  margin-top: 10px;
}
.tab-menu {
  display: flex;
  flex-wrap: nowrap;
  gap: 14px;
  padding: 0 6px;
  border-top: 1px solid var(--bg-color-8);
}
.tab-menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  color: var(--bg-color-8);
  font-size: 10px;
  line-height: 14px;
  padding: 39px 0px 6px;
  width: 84px;
}
.tab-menu-item::before {
  display: block;
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  background: url("../assets/icon-home.svg");
  top: 10px;
}
.tab-menu-item.icon-message::before {
  background: url("../assets/icon-message-circle.svg");
}
.tab-menu-item.icon-edit::before {
  background: url("../assets/icon-edit.svg");
}
.tab-menu-item.icon-user::before {
  background: url("../assets/icon-user.svg");
}

/* home-post */
.cont-home-post {
  margin: 24px 0;
}
.cont-home-post-user {
  display: flex;
  font-size: 14px;
  align-items: center;
  margin-bottom: 16px;
  color: #000;
}
.cont-home-post-user .cont-home-post-user-img {
  width: 42px;
  margin-right: 12px;
}
.cont-home-post-user .cont-home-post-user-txt small {
  font-size: 12px;
  color: var(--bg-color-8);
}
.cont-home-post-content {
  color: var(--bg-color-5);
  margin-left: 54px;
}
.cont-home-post-content-img {
  margin-top: 16px;
  width: 100%;
  height: 228px;
  border-radius: 10px;
}
.cont-home-post-feed {
  display: flex;
  margin-top: 16px;
  margin-left: 54px;
}
.cont-home-post-feed .cont-home-post-feed-like {
  display: flex;
}
.cont-home-post-feed-like .cont-home-post-feed-like-btn {
  background: url(../assets/icon-like.png) no-repeat;
  background-color: transparent;
  margin-right: 7px;
  width: 20px;
}
.cont-home-post-feed .cont-home-post-feed-reply {
  display: flex;
}
.cont-home-post-feed-reply .cont-home-post-feed-reply-btn {
  background: url(../assets/icon-reply.png) no-repeat;
  background-color: transparent;
  width: 20px;
  margin: 0 7px;
}
.cont-home-post-date {
  margin: 18px 0 2px 54px;
  font-size: 10px;
}

/* home-search */
.cont-home-search {
  height: 48px;
  border-bottom: 1px solid var(--bg-color-8);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  font-family: "GowunDodum-Regular";
}
.cont-home-search .cont-home-search-btn {
  background-image: url(../assets/icon-arrow-left.png);
  width: 22px;
  height: 22px;
  background-color: transparent;
}
.cont-home-search .cont-home-search-input {
  width: 316px;
  height: 32px;
  background-color: var(--bg-color-1);
  border: none;
  border-radius: 16px;
  padding: 0 16px;
}

/* search-2 */
.cont-home-result {
  height: 712px;
}
.cont-home-result-list .cont-home-result-ltem {
  height: 50px;
  margin: 20px 16px;
}
.cont-home-result-user {
  display: flex;
  font-size: 14px;
  align-items: center;
  margin-bottom: 16px;
  color: #000;
}
.cont-home-result-user .cont-home-result-user-img {
  width: 50px;
  margin-right: 12px;
}
.cont-home-result-user .cont-home-result-user-txt small {
  font-size: 12px;
  color: var(--bg-color-8);
}

/* post-header */
.post-header {
  display: flex;
  justify-content: space-between;
  width: 390px;
  height: 48px;
  padding: 13px 16px;
  border-bottom: 1px solid var(--bg-color-8);
}
.post-header .post-header-btn {
  background: url(../assets/icon-arrow-left.png) center;
  width: 22px;
  height: 22px;
  background-color: transparent;
  border: none;
}
.post-header .post-header-menu-btn {
  background: url(../assets/icon-\ more-vertical.svg) center;
  width: 22px;
  height: 22px;
  background-color: transparent;
  border: none;
}

/* home-post  */
.cont-home-post {
  margin: 16px 0;
}
.cont-home-post-user {
  display: flex;
  font-size: 14px;
  align-items: center;
  margin-bottom: 16px;
  color: var(--bg-color-5);
}
.cont-home-post-user .cont-home-post-user-img {
  width: 42px;
  margin-right: 12px;
}
.cont-home-post-user .cont-home-post-user-txt small {
  font-size: 12px;
  color: var(--bg-color-8);
}
.cont-home-post-content {
  color: var(--bg-color-5);
  margin-left: 54px;
}
.cont-home-post-content > .cont-home-post-content-img {
  margin-top: 16px;
  width: 100%;
  height: 228px;
  border-radius: 10px;
}
.cont-home-post-feed {
  display: flex;
  margin-top: 16px;
  margin-left: 54px;
}
.cont-home-post-feed .cont-home-post-feed-like {
  display: flex;
}
.cont-home-post-feed-like .cont-home-post-feed-like-btn {
  background: url(../assets/icon-like.png) no-repeat;
  background-color: transparent;
  margin-right: 7px;
  width: 20px;
}
.cont-home-post-feed .cont-home-post-feed-reply {
  display: flex;
}
.cont-home-post-feed-reply .cont-home-post-feed-reply-btn {
  background: url(../assets/icon-reply.png) no-repeat;
  background-color: transparent;
  width: 20px;
  margin: 0 7px;
}
.cont-home-post-date {
  margin: 18px 0 2px 54px;
  font-size: 10px;
}

/* comment */
.cont-home-comment {
  width: 390px;
  height: 236px;
  border-top: 1px solid var(--bg-color-8);
  position: relative;
}
.cont-home-comment-item-user {
  display: flex;
  padding: 15px 16px;
  font-family: "GowunDodum-Regular";
}
.cont-home-comment-item-user .cont-home-comment-item-img {
  width: 36px;
  height: 36px;
  margin-top: -10px;
}
.cont-home-comment-item-user p {
  font-size: 14px;
  margin-right: 3px;
}
.cont-home-comment-item-user small {
  font-size: 10px;
  margin: 3px;
  color: var(--bg-color-8);
}
.cont-home-comment-item-user .cont-home-comment-item-btn {
  background: url(../assets/icon-\ more-vertical.svg) center;
  width: 15px;
  height: 15px;
  background-color: transparent;
  border: none;
  position: absolute;
  right: 10px;
}
.cont-home-comment-item .cont-home-comment-item-txt {
  margin: 4px 64px;
  color: var(--bg-color-9);
}

/* comment-add */
.comment-container {
  width: 390px;
  height: 61px;
  padding: 12px 16px 12px 20px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--bg-color-8);
}
.comment-input-cont {
  display: flex;
  align-items: center;
}
.comment-user-img {
  width: 36px;
  height: 36px;
  border-radius: 36px;
  background-color: var(--bg-color-7);
}
.comment-input {
  border: none;
  margin-left: 18px;
}
.comment-post-button {
  color: var(--bg-color-3);
  background-color: var(--bg-color-6);
}

/* upload */
/* upload-head */
.upload-header {
  display: flex;
  justify-content: space-between;
  width: 390px;
  height: 48px;
  padding: 13px 16px;
  border-bottom: 1px solid var(--bg-color-8);
}
.upload-header .upload-header-btn {
  background: url(../assets/icon-arrow-left.png) center;
  width: 22px;
  height: 22px;
  background-color: transparent;
  border: none;
}
.upload-header .upload-header-upload-btn {
  height: 28px;
  padding: 0 11px;
  border-radius: 26px;
  background-color: var(--bg-color-2);
  color: var(--bg-color-6);
  font-size: 12px;
  line-height: 18px;
  text-align: center;
}
/* upload-main */
.cont-upload {
  display: flex;
  margin: 20px 16px;
  height: 772px;
  position: relative;
}
.cont-upload .cont-upload-img {
  width: 42px;
  height: 42px;
}
.cont-upload .cont-upload-txt {
  color: var(--bg-color-8);
  vertical-align: top;
  margin-top: 10px;
}
.cont-upload-btn {
  background: url(../assets/upload-file.png);
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 10px;
  left: 700px;
}

/* upload 2 */
.upload-header-upload-btn-active {
  height: 28px;
  padding: 0 11px;
  border-radius: 26px;
  background-color: var(--bg-color-3);
  color: var(--bg-color-6);
  font-size: 12px;
  line-height: 18px;
  text-align: center;
}

/*upload-3*/
.cont-home-upload-content {
  color: var(--bg-color-5);
  margin-left: 54px;
  width: 390px;
}
.cont-home-upload-content p {
  max-width: 300px;
  margin-bottom: 10px;
}
.cont-home-upload-content-wrap {
  display: flex;
  width: 520px;
  margin-left: 54px;
}

.cont-home-upload-content-img-wrap {
  position: relative;
}
.cont-home-upload-content-img-wrap .cont-home-upload-content-img {
  width: 168px;
  height: 126px;
  margin-right: 8px;
}
.cont-home-upload-content-btn {
  background: url(../assets/x.png) center;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 25px;
  right: 10px;
  background-color: transparent;
}

/* modal */
.post-modal-911 {
  width: 390px;
  height: 110px;
  border: 1px solid #000;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;
  display: none;
}
.post-modal-911 p {
  margin: 50px 0 0 26px;
}
.post-modal-911 p::before {
  display: block;
  content: "";
  background-image: url(../assets/Rectangle\ 70.png);
  width: 50px;
  height: 4px;
  position: absolute;
  top: 16px;
  left: 170px;
}

/* modal_2 */
.post-modal-delete {
  width: 390px;
  height: 110px;
  border: 1px solid #000;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;
  display: none;
}
.post-modal-delete p {
  margin: 50px 0 0 26px;
}
.post-modal-delete p::before {
  display: block;
  content: "";
  background-image: url(../assets/Rectangle\ 70.png);
  width: 50px;
  height: 4px;
  position: absolute;
  top: 16px;
  left: 170px;
}
